### Q1 Write a program using list comprehension to find primes in range 2 to 100.

In [1]:
prime= []
for num in range(2,100):
    for i in range(2, num//2):
        if num%i == 0:
            break
    else:
        prime.append(num)
print(prime)

[2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [2]:
pr = [x for x in range(2,101) if all((x%i) != 0 for i in range(2,x//2))]
pr

[2,
 3,
 4,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### Q2 Write a function to reverse a string

In [3]:
def reverse(s):
    temp = ""
    for i in range(1,len(s)+1):
        temp+= s[len(s)-i]
    return temp

print(reverse('venkat'))

taknev

### Q3 Write a program to extract the words from the given list which have their first character in uppercase

#### using loops

In [4]:
days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
new_days = []
for word in days:
    if word.istitle():
        new_days.append(word)
        
print(new_days)

['Monday', 'Sunday', 'Saturday']

#### using list comprehension

In [5]:
days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
print([x for x in days if x[0].istitle()])

['Monday', 'Sunday', 'Saturday']

### Q4 Write a program to extract the year part from the dates in the given list.

In [6]:
batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
year = []
for dates in batch:
    year.append(dates[-4:])
print(year)

['1997', '2011', '1993', '2020']

In [7]:
print([date[-4:] for date in batch])

['1997', '2011', '1993', '2020']

### Q5 Write a program swap the keys to values and values to keys of the given dictionary.

In [8]:
module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'BigData':4}
new_module = {}
for k,v in module.items():
    new_module[v] = k
print(new_module)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'BigData'}

In [9]:
module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'BigData':4}
new_dict = dict([(value, key) for (key, value) in module.items()])
print(new_dict)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'BigData'}

### Q6 Write a program to calculate the cumulative average of the given list using accumulate() and lambda function.

In [10]:
from itertools import accumulate as acc
avg = lambda a,b: (a+b)/2
ip_lst = [5,2,1,4,6]

res = acc(ip_lst, avg)
print ([x for x in res])

[5, 3.5, 2.25, 3.125, 4.5625]

### Q7 Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. Do not count the white spaces.

In [ ]:
ip = input("Enter the string\n")
my_string = 'Data Science'
count = 0

for i in ip:
    if i not in my_string:
        count+=1
        
print(count)

### Q8 Define a function to check whether a number is in a range (1000,10000) or not.

In [ ]:
def check (num):
    if num in range(1000, 10000):
        return 'Number in the range'
    else:
        return 'Number not in the range'


check(100)

### Q9 Write a program to print pascal triangle upto 6 steps

In [ ]:
from math import factorial
 

n = 6
for i in range(n):
    for j in range(n-i+1):        
        print(end=" ") 
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")    
    print()

### Q10 Write a program to calculate the sum of all elements in the list.

In [ ]:
test_score = [10, 32, 23, 14, 25]
print(sum(test_score))

In [ ]:
sum = 0
for score in test_score:
    sum += score
print(sum)

### Q11 Find the minimum value along each of the rows.

In [ ]:
import numpy as np
Score = np.array([[210, 402, 383],
[140, 375, 106],
[140, 125, 217],
[292, 240, 295]])

for row in Score:
    print(min(row))

### Q12 Replace all even numbers in the array with -1.

In [ ]:
num_array = np.array([0, 21, 32, 13, 44, 45,
26, 28, 38, 34, 65, 48, 76])

for i in range(len(num_array)):
    if num_array[i]%2 == 0:
        num_array[i]=-1
    else:
        continue
num_array